body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 50px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header nav .home-color {
  color: #74bebc;
}
header .btn {
  background-color: #c9c2c2;
}
@media screen and (max-width: 991px) {
  header nav {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header .btn {
    display: none;
  }
}

#beautiful {
  background-color: #f4fafb;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
}
#beautiful .box span {
  color: #37b7c3;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautiful .box .imgbox {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful .box h4 {
  font-size: 20px;
}

#thehome {
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

#howit h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#howit .box .textbox {
  padding: 35px 55px;
}
#howit .box h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#howit .box h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}

#Browse {
  background: #f2f6fa;
}
#Browse .textbox {
  width: 419px;
}
#Browse .textbox h1 {
  font-weight: 700;
  font-size: 50px;
  color: #3cc1d8;
}
#Browse .textbox h4 {
  font-size: 18px;
  color: rgba(36, 48, 68, 0.5215686275);
  margin: 20px 0;
  line-height: 1.2;
}
#Browse .textbox h4 span {
  color: #3cc1d8;
  text-decoration: underline;
}
#Browse .btn {
  font-size: 13px;
  border: 0.5px solid #bdbdbd;
  padding: 10px 41px;
  margin: 0 20px;
  border-radius: 5px;
}
#Browse .bgc {
  background-color: #3cc1d8;
  color: white;
}
#Browse .box {
  background: white;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 5px;
}
#Browse .box .imgbox {
  width: 130px;
  overflow: hidden;
  border-radius: 10px;
}
#Browse .box .textbox {
  text-align: left;
  width: auto;
  margin-left: 20px;
}
#Browse .box .textbox .minibox h2 {
  font-size: 20px;
  font-weight: 700;
}
#Browse .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 15px;
}
#Browse .box .textbox p {
  margin: 15px 0;
  font-size: 16px;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#Browse .box .textbox .add {
  display: flex;
}
#Browse .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #e9e9e9;
  width: 50px;
}
#Browse .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#Browse .big {
  padding: 17px 53px;
  margin-top: 50px;
}
@media screen and (max-width: 767px) {
  #Browse .cbg {
    flex-flow: wrap;
  }
  #Browse .cbg .btn {
    padding: 8px 80px;
  }
  #Browse .cbg .btn h3 {
    font-size: 20px;
  }
  #Browse .cbg .drnk {
    margin-top: 10px;
  }
  #Browse .bgc {
    padding: 7px 78px;
  }
  #Browse .box {
    padding: 20px;
  }
  #Browse .box, #Browse .minibox {
    display: flex;
    flex-direction: column;
  }
  #Browse .box .imgbox, #Browse .minibox .imgbox {
    width: 200px;
  }
  #Browse .box .textbox, #Browse .minibox .textbox {
    width: 200px;
    margin-left: 0;
  }
  #Browse .box .minibox h2, #Browse .minibox .minibox h2 {
    margin: 10px 0;
  }
  #Browse .big {
    padding: 12px 45px;
    margin-top: 50px;
  }
  #Browse .big h3 {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  #Browse .cbg {
    flex-direction: column;
  }
  #Browse .cbg .btn, #Browse .cbg .bgc {
    padding: 8px 90px;
    margin: 8px 0;
  }
  #Browse .box .imgbox {
    width: 400px;
    margin-bottom: 20px;
  }
  #Browse .box .textbox {
    width: 392px;
  }
}
@media screen and (max-width: 401px) {
  #Browse .textbox h4 {
    width: 328px;
  }
  #Browse .cbg {
    display: flex;
    flex-direction: column;
  }
  #Browse .cbg .btn {
    margin-bottom: 10px;
  }
  #Browse .box, #Browse .minibox {
    display: flex;
    flex-direction: column;
  }
  #Browse .box .imgbox, #Browse .minibox .imgbox {
    width: 310px;
  }
  #Browse .box .textbox, #Browse .minibox .textbox {
    width: 310px;
    margin-left: 0;
  }
  #Browse .box .minibox h2, #Browse .minibox .minibox h2 {
    margin: 10px 0;
  }
}

#checkout .imgbox {
  width: 550px;
}
#checkout .textbox {
  margin: 0 40px 0 0;
}
#checkout .textbox h1 {
  font-size: 50px;
  font-weight: 700;
  color: #36b3bd;
  margin-right: 20px;
}
#checkout .textbox h5 {
  color: #676f8b;
  font-size: 18px;
  line-height: 1.2;
  margin: 20px 0;
}
#checkout .textbox .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
  margin-top: 20px;
}
@media screen and (max-width: 991px) {
  #checkout .col-lg-6 {
    padding: 50px 0;
  }
  #checkout .textbox {
    text-align: center;
    width: 400px;
  }
}
@media screen and (max-width: 401px) {
  #checkout .imgbox {
    width: 365px;
  }
  #checkout .textbox {
    margin: 0 40px;
  }
  #checkout .textbox h1 {
    font-size: 50px;
  }
  #checkout .textbox .btn {
    padding: 10px 50px;
  }
}

#call {
  background-color: #f1f8f9;
}
#call .textbox {
  margin-right: 39px;
}
#call .textbox h1 {
  font-size: 50px;
  font-weight: 700;
  color: #36b3bd;
}
#call .textbox h5 {
  color: #676f8b;
  font-size: 18px;
  line-height: 1.3;
  margin: 20px 0;
}
#call .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 10px 28px;
  margin-top: 20px;
}
#call .imgbox {
  width: 450px;
}
@media screen and (max-width: 991px) {
  #call .col-lg-6 {
    padding: 50px 0;
  }
  #call .textbox {
    text-align: center;
    width: 442px;
  }
}
@media screen and (max-width: 401px) {
  #call .textbox {
    margin: 0 43px;
  }
  #call .textbox h1 {
    font-size: 55px;
  }
  #call .textbox .btn {
    margin-top: 25px;
  }
}

#business .textbox {
  width: 100%;
}
#business .textbox h1 {
  font-weight: 700;
  font-size: 65px;
  color: white;
}
#business .textbox h1 span {
  color: #334b61;
}
#business .textbox .btn {
  background-color: white;
  color: #3cc1d8;
  margin-top: 25px;
}
#business .bgc {
  background-color: #3cc1d8;
}
@media screen and (max-width: 991px) {
  #business .textbox {
    padding-top: 45px;
    height: 200px;
    margin-right: 20px;
  }
  #business .textbox h1 {
    font-size: 40px;
  }
}/*# sourceMappingURL=style.css.map */