body {
  font-family: "Dosis", sans-serif;
  font-weight: 500;
}

.imgbox {
  overflow: hidden;
}
.imgbox img {
  width: 100%;
}

section {
  padding: 50px 0;
}

header {
  padding: 20px 0;
}
header .imgbox {
  width: 40px;
}
header nav a {
  font-size: 20px;
  color: #8c8999;
  margin-right: 30px;
}
header nav .home-color {
  color: #74bebc;
}
header .btn {
  background-color: #c9c2c2;
}
@media screen and (max-width: 991px) {
  header nav {
    display: none;
  }
}
@media screen and (min-width: 992px) {
  header .btn {
    display: none;
  }
}

#beautiful {
  background-color: #f4fafb;
}
#beautiful .box {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
}
#beautiful .box h1 {
  font-weight: 700;
  font-size: 68px;
}
#beautiful .box h1 span {
  color: #37b7c3;
}
#beautiful .box h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#beautiful .box .btn {
  padding: 13px 30px;
  font-size: 20px;
  border-radius: 5px;
  background-color: #38b6c1;
  color: white;
}
#beautiful .box .star {
  width: 120px;
  margin: 20px 0 10px;
}
#beautiful h4 {
  font-size: 20px;
}
#beautiful h4 span {
  color: #37b7c3;
}
@media (min-width: 350px) and (max-width: 992px) {
  #beautiful .box {
    text-align: center;
  }
  #beautiful .box .btn, #beautiful .box .star, #beautiful .box h4 {
    align-self: center;
  }
  #beautiful .col-lg-6 {
    padding-top: 50px;
  }
}

#thehome {
  background-color: #f1f8f9;
}
#thehome .textbox h1 {
  color: #36b3bd;
  font-size: 60px;
  font-weight: 700;
}
#thehome .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#thehome .textbox .btn {
  padding: 13px 30px;
  background-color: #38b6c1;
  color: white;
  font-size: 20px;
  border-radius: 5px;
}

#howit h1 {
  font-weight: 700;
  font-size: 60px;
  color: #36b3bd;
  margin-bottom: 60px;
}
#howit .box .textbox {
  padding: 35px 55px;
}
#howit .box h2 {
  font-weight: 700;
  font-size: 25px;
  margin-bottom: 9px;
}
#howit .box h4 {
  font-size: 20px;
  color: #676f8b;
  line-height: 1.3;
}

#browse {
  background-color: #f5fbfc;
}
#browse .col-md-12 .textbox h1 {
  font-weight: 700;
  font-size: 60px;
  color: #3cc1d8;
}
#browse .col-md-12 .textbox h4 {
  font-size: 20px;
  color: #6c7480;
  margin: 20px 0;
  line-height: 1.2;
}
#browse .col-md-12 .textbox h4 span {
  color: #3cc1d8;
  text-decoration-line: underline;
}
#browse .col-12 .box .btn {
  font-size: 18px;
  border: 0.5px solid #bdbdbd;
  padding: 15px;
  width: 150px;
  margin: 0 20px;
  border-radius: 5px;
}
#browse .bgc {
  background-color: #3cc1d8;
  color: white;
}
#browse .col-lg-6 .box {
  background-color: #ffffff;
  padding: 20px;
}
#browse .col-lg-6 .box .imgbox {
  border-radius: 10px;
}
#browse .col-lg-6 .box .textbox .minibox h2 {
  font-size: 22px;
  font-weight: 700;
}
#browse .col-lg-6 .box .textbox .minibox h5 {
  color: #3cc1d8;
  font-size: 18px;
}
#browse .col-lg-6 .box .textbox p {
  margin: 15px 0;
  line-height: 1.2;
  color: rgba(35, 47, 66, 0.5215686275);
}
#browse .col-lg-6 .box .textbox .add input {
  border: 1px solid #e1e1e1;
  background-color: #f5fbfc;
  width: 50px;
  margin-right: 10px;
}
#browse .col-lg-6 .box .textbox .add .btn {
  background-color: #3cc1d8;
  color: white;
  padding: 7px 20px;
}
#browse .menu {
  padding: 17px 53px;
  margin-top: 50px;
}
@media (min-width: 992px) {
  #browse .imgbox {
    align-self: center;
    width: 150px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  #browse .imgbox {
    align-self: flex-start;
    width: 125px;
  }
}
@media (min-width: 576px) and (max-width: 767px) {
  #browse .col-12 .box {
    width: 100%;
  }
  #browse .col-12 .box .btn {
    width: 225px;
    margin: 5px 15px;
  }
}
@media (max-width: 575px) {
  #browse .imgbox {
    align-self: start;
    width: 100%;
  }
  #browse .col-12 .box .btn {
    margin: 10px 20px;
    width: 100%;
  }
}

#checkout h1 {
  font-size: 48px;
  font-weight: 700;
  color: #36b3bd;
}
#checkout h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#checkout .btn {
  color: white;
  font-size: 20px;
  background-color: #38b6c1;
  padding: 13px 34px;
  border-radius: 5px;
}

#call {
  background-color: #f1f8f9;
}
#call .textbox h1 {
  font-size: 65px;
  font-weight: 700;
  color: #36b3bd;
}
#call .textbox h5 {
  color: #676f8b;
  font-size: 20px;
  margin: 25px 0 50px 0;
  line-height: 1.3;
}
#call .textbox .btn {
  font-size: 20px;
  color: white;
  background-color: #38b6c1;
  padding: 13px 34px;
}

#business .textbox h1 {
  font-size: 60px;
  font-weight: 700;
  color: white;
  margin: 0 70px 0 40px;
  line-height: 1.1;
}
#business .textbox span {
  color: rgba(36, 102, 114, 0.5137254902);
}
#business .textbox .btn {
  font-size: 22px;
  color: #38b6c1;
  background-color: white;
  padding: 10px 30px;
  margin: 30px 0 0 40px;
}
#business .bgc {
  background-color: #35b6c1;
}
@media (max-width: 992px) {
  #business .imgbox {
    height: 380px;
  }
}
@media (min-width: 992px) {
  #business .textbox {
    height: 100%;
  }
}
@media (max-width: 576px) {
  #business .imgbox {
    height: 100%;
  }
}/*# sourceMappingURL=style.css.map */